---
layout: page
title: Fuck Tipping
points:
  - title: Tipping is Hostile to Customers
    description:
      - |
        Businesses embrace the tipping culture to offload the responsibility of
        paying proper wages onto their customers while <em>still</em> selling
        their products with a high profit margin.
        As a result, customers end up paying the margin twice &mdash; once
        included in the bill and <em>again</em> in the tip you're "supposed" to
        leave.
      - |
        Furthermore, tipping is inherently manipulative, exploiting customers'
        egos, senses of guilt &amp; duty; and sometimes, even peer pressure is
        used.
        Personally, I'd prefer to just pay the bill.
  - title: Tipping is Hostile to Workers
    description:
      - |
        Employers can use knowledge about their workers' tips against them.
        Despite the often low &amp; unstable income from tips, bosses may
        leverage them to reject salary increases, health insurance upgrades,
        etc.
        Consequently, tipping undermines employees' powers during salary &amp;
        benefits negotiations.
  - title: Tipping is Hostile to Community
    description:
      - |
        Tipping, for an employer, is a convenient way to evade payroll taxes.
        A worker receiving a tip, on the other hand, evades the income tax.
        In the end, the community of honest taxpayers is hurt.
  - title: Tipping Encourages Bias
    description:
      - |
        The tipping culture promotes unfairness and bias, because customers are
        prioritized based on their perceived generosity (and treated
        accordingly).
      - |
        This bias runs the other way too; people often tip based on all kinds
        of things that have nothing to do with the quality of the service.
  - title: Tipping is Awkward &amp; Lame
    description:
      - |
        Many can recall numerous instances when they tried to collect enough
        cash from the table to leave a "decent" tip, or the awkward, rushed
        calculation of the amount to write down in the special "Tip:" field
        that you know the waiter will inspect momentarily.
        Or the stupid iPad tipping machines that are now part of web folklore?
        Give me a break.
  - title: What We Should Do
    description:
      - |
        Don't tip.
        Ignore businesses with mandatory tips.
        Don't work in a field that depends on tipping as a source of income.
        If this makes sense, share this with others.
        Or use as an excuse to not leave a tip; this will be good for
        everybody.
---
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1">Don't Tip!</h1>
      <p class="lead">Tipping sucks for everybody, don't do it.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
{% assign pointer_counter = 0 %}
{% for point in page.points %}
  {% assign pointer_counter = pointer_counter | plus: 1 %}
  <h4>{{ pointer_counter }}. {{ point.title }}</h4>
  {% for para in point.description %}
    <p class="text-muted">{{ para }}</p>
  {% endfor %}
{% endfor %}
    </div>
  </div>
</div>
